@{
    ViewBag.Title = "Home Page";
    Layout = null;
}
@Styles.Render("~/Content/Home")
<div>
    <br>
    <h1>Anish Man Shrestha</h1>
    <br>
    <hr>
    <br>
    <h2>ASP.Net MVC with AngularJs</h2>
    <ul>
        <li> @Html.ActionLink("Using Directives and Data Binding Syntax", "Index","Basic")</li>
        <li> @Html.ActionLink("Views, Controllers and Scope", "ViewModel", "Basic")</li>
        <li> @Html.ActionLink("Modules, Routes and Factories", "Lesson3", "Basic")</li>
    </ul>
</div>

